mixin txt01()
	#info_01.txt
		span(lang="spa")
			h1 &#161;Hola!
			p Mi nombre es Miguel Rivas, Front-End Developer graduado del Instituto Tecnol&oacute;gico de las Americas (ITLA) en Santo Domingo.

		span(lang="eng")
			h1 &#161;Hi!
			p I'm Miguel Rivas, Front-End Developer graduated from Las Americas Institute of Technology (ITLA) of Santo Domingo.

mixin txt02()
	#info_02.txt
		span(lang="spa")
			h1 Me Mueve
			p La animaci&oacute;n web, la automatización de procesos, aprender otras maneras m&aacute;s eficaces de mejorar mi trabajo y tener un c&oacute;digo limpio y ordenado.

		span(lang="eng")
			h1 What i Really Like
			p Web animation, learn better ways of sucess in my job, clean and organize my code.

mixin txt03()
	#info_03.txt
		span(lang="spa")
			h1 Pero Men... Por que Aguacate Kun y no Manzana Dorada de la Realeza?
			p No hay una historia espec&iacute;fica de porqu&eacute; el nombre de Aguacate Kun, fue m&aacute;s bien una mezcla de varias, pero una de ellas era una tarea de vector graphic, donde llev&eacute; 300 aguacates.

		span(lang="eng")
			h1 But... dude... why Aguacate Kun and no Golden Apple?
			p Theres no specific why, but you can definitely tell that was because college.

mixin txt04()
	#info_04.txt
		span(lang="spa")
			h1 Experiencia Laboral
			p He trabajado como Front-End Developer para <strong>Cerveza Presidente</strong> en la aplicaci&oacute;n <strong>Destapa El Coro</strong> y en la p&aacute;gina <strong>Carnaval Presidente 2015</strong>. tambien he trabajado con otras marcas como Orange, Pepsi y Outback.

		span(lang="eng")
			h1 Experience in the area
			p I've work as Front-End Developer for <strong>Cerveza Presidente</strong> in the web app <strong>Destapa El Coro</strong> and in the page of <strong>Carnaval Presidente 2015</strong>. also i worked with other brand as Orange, Pepsi and Outback.

mixin txt09()
	h1 Cont&aacute;ctame
	| email: jmiguelrivassantos@gmail.com

mixin moreInfo(validator)
	if validator == "Timeline of the Web"
		p This project was a research about basic info of the web, so the reader can have a little understanding of multiples topic with people of the area.
		p In this project:
		ul
			li HTML/Jade
			li jQuery
			li Stellar.js
			li CSS/SASS
			li All designed in Inkscape
			li An horizontal scrolling design

	if validator == "Carnaval Presidente 2015"
		h2 Front-End Developer at Capital DBG
		p Project made to Cerveza Presidente.
		p In this project:
		ul
			li HTML
			li jQuery
			li jQuery-colorbox
			li GruntJs
			li CSS/SASS
			li Basic PHP
			li JSON
			li Design provided by the team of designers of Capital DBG
			li "Genera tu ticket para el carnaval" was made by other Front-End

	if validator == "Presidente Photo Assignment 2014"
		h2 Front-End Developer at Capital DBG
		p Project made to Cerveza Presidente and the support of a Back-End from Capital DBG.
		p In this project:
		ul
			li HTML
			li jQuery
			li jQuery-colorbox
			li GruntJs
			li CSS/SASS
			li Design provided by the team of designers of Capital DBG

	if validator == "Mainfront"
		p A set of online frontend tools brought together under a single link.
		p In this project:
		ul
			li HTML
			li jQuery
			li GruntJs
			li CSS/SASS

	if validator == "Portfolio 02"
		p Multimedia Portfolio made for college.
		p In this project:
		ul
			li Illustrator
			li Autocad
			li Indesign
			li Photoshop
			li Inkscape
			li Scribus
			li Flash
			li Fireworks
			li HTML/CSS/JS

	if validator == "Portfolio 01"
		p Multimedia Portfolio made for college.
		p In this project:
		ul
			li Illustrator
			li Photoshop
			li Blender
			li Indesign
			li Freehand
			li HTML/CSS/JS
			li Maya
			li SK1
			li Flash
			li Fireworks

mixin ptf(link, behavior, imgURL, tittle)
	article.ptf
		img(src=imgURL, alt=tittle + " Preview")
		span
			h1=tittle
			+moreInfo(tittle)
			a.btn(href=link, target=behavior) See Project

mixin portfolio()
	+ptf( "http://www.presidente.com.do/carnaval/2015/home.php", "_blank", "../img/ptf-carnaval.jpg", "Carnaval Presidente 2015" )
	+ptf( "http://presidente.com.do/photo-assignment/", "_blank", "../img/ptf-photo-presidente.jpg", "Presidente Photo Assignment 2014" )
	+ptf( "../timeline/", "_self", "../img/ptf-04.jpg", "Timeline of the Web" )
	+ptf( "../mainfront/", "_self", "../img/ptf-03.jpg", "Mainfront" )
	+ptf( "http://issuu.com/aguacatekun/docs/ptf86", "_blank", "../img/ptf-02.jpg", "Portfolio 02" )
	+ptf( "http://issuu.com/aguacatekun/docs/ptf13", "_blank", "../img/ptf-01.jpg", "Portfolio 01" )

mixin experiments()
	a.ptf(href="http://codepen.io/aguacatekun/pen/PqbqpL", target="_blank")
		img(src="../img/ptf-09.jpg", alt="windows form preview")
	a.ptf(href="../grid/", target="_self")
		img(src="../img/ptf-11.jpg", alt="cropping preview")
	a.ptf(href="../3d/", target="_self")
		img(src="../img/ptf-10.jpg", alt="drakkar preview")
	a.ptf(href="http://codepen.io/aguacatekun/pen/yNJJpG", target="_blank")
		img(src="../img/ptf-06.jpg", alt="gear prototype preview")
	a.ptf(href="http://codepen.io/aguacatekun/pen/oXxPvw", target="_blank")
		img(src="../img/ptf-07.jpg", alt="screen prototype preview")
	a.ptf(href="../css_py/", target="_self")
		img(src="../img/ptf-05.jpg", alt="css preview")
	a.ptf(href="../quack/", target="_self")
		img(src="../img/ptf-08.jpg", alt="Bootstrap preview")

mixin contactMe()
	ul
		li: a(href="http://codepen.io/aguacatekun/", target="_blank").icon.codepen
			| Aguacatekun

		li: a(href="http://issuu.com/aguacatekun", target="_blank").icon.issuu
			| Aguacate Kun

		li: a(href="https://www.behance.net/miguelrivas", target="_blank").icon.behance
			| Miguel Rivas

		li: a(href="http://about.me/AguacateKun", target="_blank").icon.about_me
			| Aguacate Kun

		li: a(href="https://do.linkedin.com/pub/miguel-rivas/74/6bb/b57", target="_blank").icon.linkedin
			| Miguel Rivas

		li: a(href="#").icon.mail
			| jmiguelrivassantos@<em>gmail.com</em>
